BigWorldClient/Library
BigWorldClient/Temp
BigWorldClient/Logs
BigWorldClient/Packages
BigWorldClient/.idea
BigWorldClient/Assets/Plugins/Editor/JetBrains
BigWorldClient/obj
BigWorldClient.sln
Assembly-CSharp.csproj
BigWorldClient/.vs
Assembly-CSharp-Editor.csproj
